
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 187, 121);
  }
 
table{
      width: 60%;
      padding: 60px;
  }
  tr{
      border-bottom: 1px solid rgb(122, 79, 79);
  }
  td{
      width: 5%;
      padding: 10px 20px;
  }
  .in_size{
      width: 300px;
      padding: 3px;
  }
  #btn{
      padding: 10px;
      background-color: rgb(62, 195, 243);
      color: rgb(0, 27, 10);
      cursor: pointer;
      border: none;
      border-radius: 5px;
  }
  
#address{
      height: 100px;
  }
